body {
	margin:0px;	
   font-family: arial, helvetica, serif;
   background-image:url(cms_site.png);
   margin-left:40px;
	font-size:14px;
	margin: 80px 80px 80px 80px;
}
ul, li  {
padding-left:0;
}
h1 {
	font-size:24px;	
   color:#464646;
   text-shadow: 1px 1px 1px #fff;
}
h2 {
	font-size:22px;	
   color:#464646;
   text-shadow: 1px 1px 1px #fff;
}
h3 {
	font-size:20px;	
   color:#464646;
   text-shadow: 1px 1px 1px #fff;
}


#question ul, li {
	list-style:none;	
}
p {
	margin-bottom:6px;
}


div.box_code {
	width:500px;
	padding:10px;
	background:#E7E3D7;
	border:#B1AEA5 1px solid;
	-moz-border-radius:4px;
}
.class_function {
	font-weight:bold;
	color:#111899;
}
.phptags {
	font-weight:bold;
	color:red;
}